<%- include('include/header')%>
  <body>
    <a href=<%=url%> id="seta"<></a>
    <section class="conteudo">
      <header class="perfil">
        <div class="img"></div>
        <h4 class="funcao"><%=dataProfile.employeePosition%></h4>
      </header>
      <main>
        <h3>MEUS DADOS</h3>
        <section class="dados">
          <div class="dados-input">
            <h4>NOME</h4>
            <input class="input" type="text" disabled value=<%=dataProfile.employeeName%> />
          </div>
          <div class="dados-input">
            <h4>E-MAIL</h4>
            <input class="input" type="email" disabled value=<%=dataProfile.employeeEmail%> />
          </div>
          <div class="dados-input">
            <h4>CELULAR</h4>
            <input class="input" type="text" disabled value=<%=dataProfile.employeePhone%> />
          </div>
          <div class="dados-input">
            <h4>CPF</h4>
            <input class="input" type="text" disabled value=<%=dataProfile.employeeTaxNumber%> />
          </div>
          <div class="dados-input">
            <h4>NASCIMENTO</h4>
            <input class="input" type="text" disabled value=<%=dataProfile.employeeBirthDate%> />
          </div>
          <div class="dados-input">
            <h4>ENDEREÇO</h4>
            <input class="input" type="text" disabled value=<%=dataProfile.employeeAddress%> />
          </div>
          <div class="dados-input">
            <h4>IDENTIFICADOR</h4>
            <input class="input" type="text" disabled value=<%=dataProfile.employeeId%> />
          </div>
          <div class="dados-input">
            <h4>NATURALIDADE</h4>
            <input class="input" type="text" disabled value=<%=dataProfile.employeeCity%> />
          </div>
        </section>
      </main>
    </section>
    <script src="./assets/js/bundle.js"></script>
  </body>
</html>
